.basic {
  overflow-x: hidden;
  padding-top: 50px;
  &__link--hero {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202c;
    text-decoration: none;
  }
  &__user--hero {
    margin-right: 20px;
    border-radius: 50%;
  }
}
.hero {
  padding-bottom: 59px;
}
.reco {
  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
  }
}
