.player {
  padding-top: 30px;
  &__img {
    flex-shrink: 0;
    width: 100vw !important;
    height: 500px !important;
    margin-bottom: 20px;
    border-radius: 14px;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
  }
  &__subInfo {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #c2c2c2;
  }
  &__icon {
    margin-right: 8px;
    &--btn {
      background-color: #ebebeb !important;
      color: black !important;
      & + & {
        margin-left: 10px;
      }
    }
  }
  &__user {
    height: 80px !important;
  }
}
