html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  &.dark {
    background-color: #17171e;
  }
}
.main {
  display: flex;
  &.dark {
    background-color: #17171e;
  }
}
#root {
  &.dark {
    background-color: #17171e;
  }
}
